* {
    --main-color: #0fceda;
    --main-color-m: #a5f2ee;
    --main-color-s: #e5fffd;
    --sec-color: #004267;
    --sec-color-m: #678ea3;
    --warings-color: #f72585;
    --warigns-color-m: #fff2f5;
    --red-color: #ffdedf;
    --orange-color: #ffead1;
    --brown-color: #e5d4c5;
    --green-color: #e8ffe8;
    --blue-color: #d9e4ff;
    --white-color: #ffffff;
    --gray-color-1: #f2f2f2;
    --gray-color-2: #dddddd;
    --gray-color-3: #858585;
    --black-color: #050b0f;
}

body {
    color: var(--black-color);
}

.text-main {
    color: var(--main-color);
}

.text-sec {
    color: var(--sec-color);
}

.text-waring {
    color: var(--warings-color);
}

.text-gray-3 {
    color: var(--gray-color-3);
}

.bg-main {
    background: var(--main-color);
}

.bg-main-m {
    background: var(--main-color-m);
}

.bg-gray1 {
    background: var(--gray-color-1);
}

.bg-red {
    background: var(--red-color);
}

.bg-blue {
    background: var(--blue-color);
}

.bg-brown {
    background: var(--brown-color);
}

.bg-green {
    background: var(--green-color);
}

.bg-orange {
    background: var(--orange-color);
}

.border-main {
    border-color: var(--main-color);
}

.rounded-12p {
    border-radius: 12px;
}

.rounded-16p {
    border-radius: 16px;
}

.stop-statue {
    width: 5em;
}

.rounded-12p .card-header {
    border-radius: 12px 12px 0 0;
}

.rounded-12p .card-body {
    border-radius: 0 0 12px 12px;
}

#searchBus {
    border-radius: 8px;
    border-color: var(--black-color);
}

#citySelector {
    position: fixed;
    bottom: 0;
    z-index: 99;
    height: 100%;
    width: 100%;
}

.citySelector-content {
    position: fixed;
    bottom: 0;
    border-radius: 12px 12px 0 0;
    z-index: 98;
}

#citySelector:before {
    content: "";
    background: rgba(0, 0, 0, 0.25);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 97;
}

.city-tag-selected {
    background: var(--main-color);
}

.city-tag {
    border: 1px solid var(--main-color);
}