* {
    --main-color: #0fceda;
    --main-color-m: #a5f2ee;
    --main-color-s: #e5fffd;
    --sec-color: #004267;
    --sec-color-m: #678ea3;
    --warings-color: #f72585;
    --warigns-color-m: #fff2f5;
    --red-color: #ffdedf;
    --orange-color: #ffead1;
    --brown-color: #e5d4c5;
    --green-color: #e8ffe8;
    --blue-color: #d9e4ff;
    --white-color: #ffffff;
    --gray-color-1: #f2f2f2;
    --gray-color-2: #dddddd;
    --gray-color-3: #858585;
    --black-color: #050b0f;
}

body {
    color: var(--black-color);
}

.text-main {
    color: var(--main-color);
}

.text-sec {
    color: var(--sec-color);
}

.text-waring {
    color: var(--warings-color);
}

.text-gray-3 {
    color: var(--gray-color-3);
}

.bg-main {
    background: var(--main-color);
}

.bg-main-m {
    background: var(--main-color-m);
}

.bg-gray1 {
    background: var(--gray-color-1);
}

.bg-red {
    background: var(--red-color);
}

.bg-blue {
    background: var(--blue-color);
}

.bg-brown {
    background: var(--brown-color);
}

.bg-green {
    background: var(--green-color);
}

.bg-orange {
    background: var(--orange-color);
}

.border-main {
    border-color: var(--main-color);
}

.rounded-12p {
    border-radius: 12px;
}

.rounded-16p {
    border-radius: 16px;
}

.stop-statue {
    width: 96px;
    height: 48px;
}

.rounded-12p .card-header {
    border-radius: 12px 12px 0 0;
}

.rounded-12p .card-body {
    border-radius: 0 0 12px 12px;
}

#searchBus {
    border-radius: 8px;
    border-color: var(--black-color);
}

#citySelector {
    position: fixed;
    bottom: 0;
    z-index: 99;
    height: 100%;
    width: 100%;
}

.citySelector-content {
    position: fixed;
    bottom: 0;
    border-radius: 12px 12px 0 0;
    z-index: 98;
}

#citySelector:before {
    content: "";
    background: rgba(0, 0, 0, 0.25);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 97;
}

.city-tag-selected {
    background: var(--main-color);
}

.city-tag {
    border: 1px solid var(--main-color);
}

.nav-tabs .nav-link {
    background: var(--gray-color-1);
    color: var(--gray-color-3);
    border-radius: 32px 32px 0 0;
    border: 0;
    box-shadow: inset 0 -2px 15px rgba(0, 0, 0, 0.2);
}

.nav-tabs .nav-link.active {
    box-shadow: 0 -5px 16px rgba(0, 0, 0, 0.2);
}

.stop-row {
    height: 60px;
}

.stop-line {
    position: relative;
    height: 60px;
    width: 4px;
    background-color: var(--sec-color-m);
    top: 50%;
    margin-right: 14px;
    transform: translateX(50%);
}

.stop-line-act {
    width: 8px;
    background-color: var(--main-color-m);
}

.stop-line-act:after {
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 8px;
    background: var(--main-color);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 22px;
}

.stop-line-act:before {
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 8px;
    background: blue;
    position: absolute;
    left: -50px;
    top: 22px;
}

.stop-point {
    width: 22px;
    height: 22px;
    border: 4px solid var(--sec-color);
    border-radius: 11px;
    background: #ffffff;
    position: absolute;
    z-index: 20;
    left: 50%;
    transform: translateX(-50%);
    top: -11px;
}

.stop-row:last-child .stop-line {
    background: 0;
}